@import "../../styles/variables.scss";

.error {
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    color: $red-maincolor;
    font-size: 288px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  p {
    color: $red-maincolor;
    font-size: 36px;
    font-weight: 500;
  }
}

.alink {
  font-size: 18px;
  color: black;
}
//Media queries
@media (max-width: 768px) {
  .error {
    h1 {
      font-size: 200px;
      padding: 20px
    }
    p {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .alink {
      font-size: 14px;
    }
  }
}
@media (max-width: 480px) {
  .error {
    h1 {
      font-size: 96px;
      padding: 30px;
    }
    p {
      font-size: 18px;
      margin-bottom: 30px;
    }

  }
  .alink {
    font-size: 14px;
  }
}
