@import '../../styles/variables.scss';

.accommodation-details {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    position: relative;
}
//Title and location
.titles {
    width: 60%;
    h1 { 
    color: $red-maincolor;
    margin-bottom: 0;
}
}

//Info host name and photo div
.host-info {
    height: 64px;
    display: flex;
    position: absolute;
    right: 0;
    top: 10px;
    p {
        margin: 0;
        color: $red-maincolor;
    }

}
.names {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    justify-content: center;
    text-align: right;
}
.host-photo {
    border-radius: 50%;
}


//Tags div
.tags {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    li {
        background-color: $red-maincolor;
        color: white;
        border-radius: 10px;
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 700;
    }
}

//Rating - star ratings

.rating-container {
        position: absolute;
        right: 0;
        top:100px;
    }


//Dropdowns div
.dropdown-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    gap: 5%;

}


