@import "../../styles/variables.scss";

.accommodation-details {
  max-width: 1240px;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
}
//Carousel
.Carousel {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  width: 100%;
}
//Title and location
.titles {
  grid-column: 1 / 4;
  grid-row: 2 / 3;

  h1 {
    color: $red-maincolor;
    margin: 10px 0;
  }

  p {
    margin: 0;
  }
}

//Info host name and photo position in this component
.host-info {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;

  p {
    margin: 0;
    color: $red-maincolor;
  }
}

//Rating - star ratings position in this component
.rating-container {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

//Tags div
.tags {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  white-space: nowrap;
  text-align: center;
  margin-top: 0;

  li {
    background-color: $red-maincolor;
    color: white;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 700;
  }
}

//Dropdowns div position in this component
.dropdown-list {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  width: 100%;

  .dropdown {
    width: 48%;
  }
}

//media queries
/* For medium tablets */
@media (max-width: 1024px) {
  .dropdown-list {
    gap: 2%;
  }

  .tags {
    grid-column: 1 / 5;
    grid-row: 4 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    max-width: 100%;
    li {
      font-size: 13px;
      display: flex;
      justify-content: center;
      padding: 10px 25px;
    }
  }
}
//Larger mobile screens
@media (max-width: 768px) {
  .accommodation-details {
    display: grid;
    max-width: 100%;
    margin-bottom: 0px;
    grid-template-rows: auto auto auto auto auto auto;
    box-sizing: border-box;
  }

  .titles,
  .host-info,
  .rating-container,
  .tags,
  .dropdown-list {
    grid-column: 1 / -1;
  }

  .titles {
    grid-row: 2 / 3;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }
  }

  .tags {
    grid-row: 3 / 4;
    order: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2%;
    row-gap: 5px;
    li {
      white-space: nowrap;
      font-size: 12px;
    }
  }

  .rating-container {
    grid-row: 4 / 5;
    order: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: revert-layer;
  }

  .host-info {
    grid-row: 4 / 5;
    order: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .dropdown-list {
    grid-row: 5 / 6;
    order: 4;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}

//Mobile screens
@media (max-width: 480px) {
  .accommodation-details {
    display: grid;
    max-width: 100%;
    margin-bottom: 0px;
    grid-template-rows: auto auto auto auto auto auto;
    box-sizing: border-box;
  }

  .titles,
  .host-info,
  .rating-container,
  .tags,
  .dropdown-list {
    grid-column: 1 / -1;
  }

  .titles {
    grid-row: 2 / 3;

    h1 {
      font-size: 20px;
      margin-top: 0;
    }

    p {
      font-size: 14px;
    }
  }

  .tags {
    grid-row: 3 / 4;
    order: 1;
    gap: 2%;
    row-gap: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    li {
      font-size: 10px;
      white-space: nowrap;
      padding: 8px;
    }
  }

  .rating-container {
    grid-row: 4 / 5;
    order: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: revert-layer;
  }

  .host-info {
    grid-row: 4 / 5;
    order: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .dropdown-list {
    grid-row: 5 / 6;
    order: 4;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .dropdown {
      width: 100%;
    }
  }
}
