  @import '../../styles/variables.scss';

.collapsible-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;

  p, li {
    font-size: 18px;
    font-weight: 400;
  }

  &__content {
    display: none;
    border-top: none;
    width: 100%;
    display: none;
    max-height: 200px;
    overflow: auto;
   
  }

  &--active .collapsible__content {
    background: rgba(246, 246, 246, 0.45);
    padding: 20px;
    width: 100%;
    display: block;
  }

  .rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
}

.collapsible__header {

    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: $red-maincolor;
    color: $white-theme;
    font-size: 18px;
    font-weight: 700;
    transition: background-color 0.3s ease; 
  }

.collapsible__header--active {
  background-color: $red-maincolor;
  
  
}
  