.carousel {
    height: 415px;
    position: relative;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
   
}
.carousel_content {
position: relative;
}
.pictures {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
}
.arrow {
    position: absolute;
    top: 40%;
    height: 110px;
    cursor: pointer;
    z-index: 1;
    
}
.arrow_right {
    right:10px;
}
.arrow_left {
    left: 10px;
}
.page_numbers{
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
   
}

